@charset "UTF-8";

*{
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: "맑은 고딕";
    font-size: 20px;
    color: #000;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #fbdbb8;
}
a{
    display: block;
    text-decoration: none;
    color: #000;
}
header{
    text-align: center;
    position: relative;
}
.top{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
}
.mid{
    width: 100%;
    height: 934px;
    display: flex;
  justify-content: center;
    overflow: hidden;
    position: relative;
}
.mid a{
    position: absolute;
}
.contents{
    text-align: center;
}
.otherwrap{
    text-align: center;
}
footer{
    text-align: center;
}